@import "../../css/variables";

.container__project {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 22px;
  > nav {
    padding: 12px 0;
    > ul {
      display: flex;
      align-items: center;
      gap: 4px;

      > li {
        display: flex;
        align-items: center;
        gap: 4px;

        color: $gray;

        a {
          display: flex;
          align-items: center;
          gap: 4px;
          color: $whitePrimary;
        }
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    header {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .container__stack {
      display: flex;
      flex-direction: column;
      gap: 12px;
      border-bottom: 1px solid $gray;
      padding: 12px 0;
    }

    :global .wmde-markdown {
      background: transparent;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
    }

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      font-size: 1.125rem;
      color: $purplerDark;
      margin-top: 12px;

      transition: color linear 0.3s;

      &:hover {
        color: $alert;
      }
    }
  }
}
