@import "../../css/variables";

.container__home {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 1.75rem;
      position: relative;
      max-width: fit-content;

      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 4px;
        background: $purplerDark;

        bottom: -10px;
        left: 0;
      }
    }

    a {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: $whitePrimary;

      background-color: $purplerDark;
      padding: 4px 12px;
      border-radius: 2px;

      transition: all linear 0.3s;

      &:hover {
        background-color: darken($purplerDark, 4%);
      }
    }
  }

  > ul {
    margin-top: 22px;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }
}
