@import "../../css/variables";

.create_project__container {
  padding-bottom: 22px;

  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $lightGray;
    border-radius: 4px;
  }
  > header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
    max-width: 1200px;
    margin: 0 auto 22px auto;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 1200px;
    margin: 12px auto;

    .container__column {
      display: flex;
      flex-direction: column;
      gap: 6px;
      position: relative;
      label {
        font-weight: 500;
        color: $whitePrimary;
        position: absolute;
        top: -10px;
        background-color: $darkPrimary;
        z-index: 1;
        left: 14px;
        padding: 0 6px;
      }
    }
    .column__description {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}
